@import '../../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';


h2{
  display: flex;
  justify-content: center;
}

.card{
  width: 16rem;
  height: 10rem;
  cursor: pointer; 
}

.text-center{
  
}
