<mat-card class="login">
  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  <mat-card-title>Shiba Inu</mat-card-title>
  <mat-card-content>
    
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->        
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput placeholder="Senha">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->        
      </mat-form-field>
    
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    <!-- <mat-progress-bar mode="query"></mat-progress-bar> -->
  </mat-card-footer>
</mat-card>