<div class="container">
  <app-title [title]="titulo"></app-title>

  <!-- Ao selecionar produto -->
  <div *ngIf="produtoSelected">
    <div class="row">
      <div class="col-10">
        <h2>Editando: {{ produtoSelected.nome }}</h2>
      </div>
      <button class="btn btn-outline-primary col-1" (click)="voltar()">
        Voltar
      </button>
    </div>
    <!-- Formulário para editar produto -->
    <form [formGroup]="produtoForm" (submit)="produtoSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" class="form-control" formControlName="nome" />
      </div>
      <div class="form-group input-group mb-3">
        <label class="input-group-text" for="formGroupExampleInput2"
          >Quantidade</label
        >
        <input type="number" class="form-control" formControlName="qtd" />
        <label class="input-group-text" for="inputGroupSelect01"
          >Unidade de medida</label
        >
        <select class="form-select">
          <option formControlName="undMed" selected>
            {{ produtoSelected.undMed }}
          </option>
          <option value="1">Kg</option>
          <option value="2">Unidade</option>
          <option value="3">L</option>
        </select>
      </div>
      <button class="btn btn-outline-success" [disabled]="!produtoForm.valid">
        Enviar
      </button>
    </form>

    <!-- Informações do produto -->
    <app-dashboard></app-dashboard>
  </div>

  <div *ngIf="!produtoSelected">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Und. Medida</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <th scope="row">{{ produto.id }}</th>
          <td class="table-light">{{ produto.nome }}</td>
          <td>
            {{ produto.qtd }}
            <div class="btn-group ms-3">
              <button
                (click)="addQtd(produto)"
                class="btn btn-outline-primary"
                style="font-weight: bold"
              >
                +
              </button>
              <button
                (click)="removeQtd(produto)"
                class="btn btn-outline-primary"
                style="font-weight: bold"
              >
                -
              </button>
            </div>
          </td>
          <td>{{ produto.undMed }}</td>
          <td>
            <button
              (click)="produtoSelect(produto)"
              class="ms-2 btn btn-outline-primary"
            >
              Detalhes
            </button>
            <button
              (click)="produtoSelect(produto)"
              class="ms-2 btn btn-outline-danger"
            >
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
