@model IEnumerable<livraria.Models.Livro>

<h2>Livraria</h2>
<hr />

<div class="row">
  <div class="col-md-12">
    <div>
      <div clas="pull-left">
        <a asp-action="Create" class= "btn btn-primary">
          <span title="Incluir Livro" clas="fas fa-plus"></span>
            Incluir Livro
        </a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
        </th>


